<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="@{layout/default}">
<th:block layout:fragment="customTitle">
	<title th:text="${title}">thymeleaf layout</title>
</th:block>
<th:block layout:fragment="customContents">
	<form th:action="@{/addMember}" method="post">
		<table border="1">
			<tr>
				<td>아이디</td>
				<td>
					<input type="text" name="memberId" placeholder="회원아이디를 입력해주세요."/>
				</td>
			</tr>
			<tr>
				<td>비밀번호</td>
				<td>
					<input type="password" name="memberPw" placeholder="비밀번호를 입력해주세요."/>
				</td>
			</tr>
			<tr>
				<td>이름</td>
				<td>
					<input type="text" name="memberName" placeholder="이름을 입력해주세요."/>
				</td>
			</tr>
			<tr>
				<td>권한</td>
				<td>
					<select name="memberLevel" style="width: 100%">
						<option value="">권한선택하세요</option>
						<option value="1">관리자</option>
						<option value="2">판매자</option>
						<option value="3">구매자</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>주소</td>
				<td>
					<input type="text" name="memberAddr" placeholder="주소를 입력해주세요."/>
				</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>
					<input type="text" name="memberEmail" placeholder="이메일을 입력해주세요."/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit" style="width: 100%">회원가입</button>
				</td>
			</tr>
		</table>
	</form>
</th:block>
</html>